{% extends 'base.html' %}
{% include 'navbar.html' %}
{% load static%}


{% block content %}
<!DOCTYPE html>

<html>
<h1> Consider Donating! </h1>
<p> Venmo: aaronlin7 </p>
<div class="img-container" style = "padding-top: 25px">
    <!--<p> Program Account: </p>
    <a href="https://www.instagram.com/aaron_bots/"  target="_blank"> <img src="{% static 'instagram_icon.png' %}" alt="Instagram" style="height:100px;" > </a>
    <p> Main Account: </p>
    <a href="https://www.instagram.com/aaronl1661/"  target="_blank"> <img src="{% static 'instagram_icon.png' %}" alt="Instagram" style="height:100px;" > </a>
    -->
</div>

</html>

{% endblock content %}
