{% extends 'base.html' %}
{% include 'navbar.html' %}
{% load hitcount_tags %}


{% block content %}
<!DOCTYPE html>

<html>
<style>

</style>
<div class= "divspacing" />
<h1 > Indie-Inator 3000</h1>
<div class= "divnewpagespacing" />
<div>
    <h2 style='text-align: center;'>About </h2>
    <p> An app that lets you explore indie/less popular song options in the range of your music taste <br>
    You can try it out on one of your playlists, or a singular song you like
    </p>
    <div class= "divnewpagespacing" />
    <p>Indie-Inator 3000 was made so that everyone can explore out of popular music. I've always wondered, I wanna listen to less popular music artists rather than only the very popular songs, while still being in the range of my music taste, and so this app was created. You are able to submit a certain playlist of yours, and pick genres you want to explore, or just your own genres, and it will recommend you a few new songs that you may like. Don't worry, I won't collect your information either, you don't even have to log it, and I only have access to public playlists everyone can already see! </p>
    <div class= "divspacing" />
</div>
</html>

{% endblock content %}
