<style>
  .topnav {
  background-color: #333;
  overflow: hidden;
  width:100%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #308c88;
  text-align: center;
  padding: 14px 5%;
  text-decoration: none;
  font-size: 17px;
  border-radius: 30px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #308c88;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #308c88;
  color: black;
}

</style>
<div class="topnav container-fluid">
  <a style="float:left" href="/donate/">Donate</a>
  <a style="float:right" href="/song1/">Song</a>
  <a style="float:right" href="/playlist1/">Playlist</a>
  <a style="float:right" href="/home/">Home</a>


</div>
