{% extends 'base.html' %}
{% include 'navbar.html' %}


{% block content %}
<!DOCTYPE html>
<style>
        ul {
           list-style-type:none;
         }
         .checkbox-label {
         display: block;
         position: relative;
         margin: auto;
         cursor: pointer;
         font-size: 22px;
         line-height: 24px;
         height: 24px;
         width: 24px;
         clear: both;
         }
     
     </style>
<html>
  <h1 > Pick Genre Category</h1>
  <p>Pick a genre category, and from there you will pick up to 5 genres</p>
  
  <div>
    <div style="text-align: center;">
      
      <button class="button button1 rectangle " type='submit' onclick="window.location='/afrop/';">Afro</button>
      <button class="button button1 rectangle " type='submit' onclick="window.location='/asianp/';">Asian</button>
      <button class="button button1 rectangle " type='submit' onclick="window.location='/countryp/';">Country</button>
      <button class="button button1 rectangle " type='submit'onclick="window.location='/dancep/';">Dance</button>
      <button class="button button1 rectangle " type='submit'onclick="window.location='/electronicp/';">Electronic</button>
      <button class="button button1 rectangle " type='submit'onclick="window.location='/happyp/';">happy</button>
      <button class="button button1 rectangle " type='submit'onclick="window.location='/housep/';">House</button>
      <button class="button button1 rectangle " type='submit'onclick="window.location='/indiep/';">Indie</button>
      <button class="button button1 rectangle " type='submit'onclick="window.location='/instrumentalp/';">Instrumental</button>
      <button class="button button1 rectangle " type='submit'onclick="window.location='/popp/';">Pop</button>
      <button class="button button1 rectangle " type='submit'onclick="window.location='/rapp/';">Rap</button>
      <button class="button button1 rectangle " type='submit'onclick="window.location='/rockp/';">Rock</button>
      <button class="button button1 rectangle " type='submit'onclick="window.location='/slowp/';">Slow/Chill</button>
      <button class="button button1 rectangle " type='submit'onclick="window.location='/soundtrackp/';">Soundtrack</button>
      <button class="button button1 rectangle " type='submit'onclick="window.location='/southamericanp/';">South American</button>
      <button class="button button1 rectangle " type='submit'onclick="window.location='/worldp/';">World Music</button>
      <button class="button button1 rectangle " type='submit'onclick="window.location='/miscp/';">Misc.</button>
    </div>
  </div>
</html>

{% endblock content %}
