{% extends 'base.html' %}
{% include 'navbar.html' %}


{% block content %}
<!DOCTYPE html>
<style>
     
</style>
<html>
    <div style="text-align: center">
        <iframe src={{data}} width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    <h1> Is this the right song?</h1>
    <button class="button button1 rectangle " onclick="document.location='/song3'" type="submit" >Yes</button>
    <button class="button button1 rectangle " onclick="document.location='/song1'" type="submit" >No</button>
</div>

</html>

{% endblock content %}
